Django>=4.2,<5.0
django-crispy-forms>=2.0
crispy-bootstrap5>=0.7
django-widget-tweaks>=1.4.12
Pillow>=10.0.0
whitenoise>=6.6.0
gunicorn>=21.2.0
python-decouple>=3.8
django-database-url>=1.0.3
django-browser-reload>=1.11.0
django-tailwind>=3.5.0
django-debug-toolbar>=4.3.0
django-chartjs>=2.2.0
django-colorfield>=0.9.0
django-extensions>=3.2.3  # for shell_plus, graph models
djangorestframework
# npm install tailwindcss @tailwindcss/cli
# npm install daisyui
# npx tailwindcss -i ./static/input.css -o ./static/output.css --watch